.DLogo {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.ImgLogo {
	width: 100%;
}
ul {
 	text-align: right;
}
li {
	display: inline-block;
	margin-left: 2%;
	margin-top: 3%;
}
.Efecto:hover,
.Efecto:focus {
  color: white;
  background-color: #5BA6FF;
  text-decoration: none;
  padding: 10px 10px;
}
.IcoP1{
	padding-left: 10px;
	}
.TextWhite {
	color: white !important;
}
/*-------------------Fin de Header---------------------*/
$TextGray: #424242;

.container {
	h4, h2, p {
	color: $TextGray;
	}
}
.BackImg {
	background-image: url(../images/cuernito.jpg);
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	height: 450px;
	z-index: -4;
}
.BackGray {
	width: 100%;
	height: 450px;
	background-color: rgba(0, 0, 0, 0.2);padding-top: 5%;
}
button {
	background-color: transparent;
	border: 2px solid #5BA6FF;
	padding: 2%;
	color: #5BA6FF;
}
.BackGray2 {
	background-color: #D8D8D8;
}
$ImgCel: 100%;

.col-md-6,.col-md-4 {
	img {
	width: $ImgCel;
	}
}
$Mtop: 30px;

.container {
	.row {
	 margin-top: $Mtop;
	 margin-bottom: $Mtop;
	 }
}
.ImgP3 {
	margin-top: 16%;
}
/*-------------------------------Fin de Section------------------*/
.IcoFooter:hover,
.IcoFooter:focus {
  background-color: #0F1C2B;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 10% !important;
}
.fa {
	font-size: 20px;
	color: #5BA6FF;
	margin: 5px;
}
span {
	color: #5BA6FF;
}
